@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

body {
    font-family: 'Barlow', sans-serif;
}

#logo {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#header {
    text-align: center;
}

svg.main {
    width: 60%;
    height: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.combined {
    fill: #ff8717;
}
.michael {
    fill: #f22727;
}
.jordan {
    fill: #ffdf00;
}

.chart-text {
    text-anchor: end;
    font-family: 'Barlow', sans-serif;
}