@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

body {
    font-family: 'Barlow', sans-serif;
}

#logo {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#header {
    text-align: center;
}

svg.main {
    width: 75%;
    height: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

rect {
    stroke: black;
    stroke-width: 2px;
}

.combined {
    fill: #ff8717;
    
}
.michael {
    fill: #ee0010;
}

.jordan {
    fill: #ffdf00;
}